:root {
    /* COLOUR PALETTE */
    --light-shade: #f4f3ed;
    --light-accent: #eba84a;
    --brand-colour: #abaebb;
    --dark-accent: #a0685a;
    --dark-shade: #363736;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-shade);
}

.Logo {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    background-color: var(--light-accent);
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
    height: fit-content;
    font-size: 2rem;
    text-align: center;
}
.Logo a {
    display: block;
}
.Logo a span {
    background-color: var(--dark-shade);
    color: white;
    padding: 0.5rem 0;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}
.Logo a span.Logo-news {
    background-color: transparent;
    color: var(--dark-shade);
}

.Nav {
    background-color: var(--brand-colour);
    display: flex;
    justify-content: space-between;
}
.Nav ul li {
    list-style-type: none;
    padding: 5px 0;
    display: block;
}
.Nav ul li a {
    color: var(--dark-accent);
    font-weight: bold;
    text-transform: capitalize;
}

.Articles {
    list-style-type: none;
    display: block;
}
.Articles li {
    margin: 10px 0;
}
.Articles li img {
    width: 100%;
}

.Articles li a {
    text-decoration: none;
    color: inherit;
}
.Articles li strong {
    text-decoration: underline;
}
.Articles li .Articles--topic {
    color: var(--dark-accent);
}

.Article h1 {
    font-size: 1.5em;
}
.Article .author-and-topic {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--light-accent);
    margin-bottom: 10px;
}
.Article .author-and-topic p {
    padding: 10px 0;
    font-size: 1.1em;
    color: var(--dark-accent);
}
.Article .author-and-topic strong {
    color: var(--dark-shade);
}
.Article section {
    display: block;
}
.Article section img {
    width: 100%;
    border: 2px black solid;
    border-radius: 3px;
}
.Article section .article-body {
    padding: 10px 0;
    font-size: 1.1em;
}

.Footer {
    background-color: var(--light-accent);
}
.Footer a {
    text-decoration: none;
    color: var(--dark-shade);
}
.Footer a:hover {
    text-decoration: underline;
}

.Comments {
    background-color: var(--brand-colour);
    border-radius: 5px;
    margin: 10px;
}
.Comments h2 {
    border-bottom: 2px dashed var(--dark-shade);
    color: var(--dark-shade);
}
.Comments ul li {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.Comments ul li .comment {
    grid-column: 1 / 5;
}
.Comments ul li .details {
    grid-column: 3 / 5;
}

/* PADDING FOR STRUCTURAL COMPONENTS */
.Footer,
.Logo,
.Nav,
.Articles,
.Article,
.Comments {
    padding: 10px;
}

@media only screen and (min-width: 500px) {
    .Logo {
        text-align: left;
    }
    .Nav ul li {
        border-left: 2px var(--dark-shade) solid;
        padding: 0 15px;
        display: inline-block;
    }
    .Nav ul li:nth-child(1) {
        border-left: none;
        padding-left: 0;
    }

    .Articles {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .Articles li:nth-child(1),
    .Articles li:nth-child(2) {
        grid-column: span 3;
    }
    .Articles li {
        grid-column: span 2;
        margin: 20px;
    }
    .Articles li img {
        width: 100%;
    }

    .Article section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .Article section p {
        grid-column: 1 / 3;
        grid-row: 1/2;
        margin-right: 15px;
    }
    .Article section img {
        margin: 10px 0px;
        grid-column: 3 / 4;
        grid-row: 1/2;
    }

    /* PADDING FOR STRUCTURAL COMPONENTS */
    .Footer,
    .Logo,
    .Nav,
    .Articles,
    .Article,
    .Comments {
        padding-left: 20px;
        padding-right: 20px;
    }
}
